@import "./bases/variables";
@import "./bases/generals";

@import "./layout/header";
@import "./layout/form";
@import "./layout/footer";

@import "./pages/home/main-img";
@import "./pages/home/main";
@import "./pages/home/reservation";
@import "./pages/home/map";
@import "./pages/home/recipes";

@import "./pages/page2/main-img";
@import "./pages/page2/main";

.reveal {
    opacity: 0;
    transform: translateY(5rem);
}

.reveal-visible {
    opacity: 1;
    transform: translateY(0);
    transition: 1s;
}