.footer {
    padding: 3rem 1.25rem;
    background: url("../pictures/compressed/splash.webp") no-repeat bottom 0 right 0, rgba($color-black, 0.8);
    margin-top: -4px;

    &__heading {
        color: $color-primary;
        font-size: 1.2rem;
    }

    &__paragraph {
        color: $color-white;
        opacity: 0.9;
    }

    &__link {
        font-size: 1.1rem;
        transition: 0.3s;
        &:hover {
            color: $color-primary;
            text-decoration: underline;
        }
    }
}

@media screen and (min-width:810px) {

    .footer{

        &__container {
            max-width: 1200px;
            margin: auto;
            display: flex;
            justify-content: space-between;

            div:first-child {
                width: 35%;
            }

            div {
                width: 22%;
            }
        }

        &__reserved {
            text-align: center;
            font-size: 0.9rem;
            span {
                font-weight: 600;
            }
        }
    }
}