.header {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 4rem;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(180deg, rgba($color-black, 1), rgba($color-black, 0.4));

    &__logo {
        color: $color-white;
        font-size: 1.5rem;
        font-weight: bold;
        letter-spacing: 0.1rem;
        &:hover {
            color: $color-primary;
        }
    }

    &__nav {
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        min-height: 30vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgba($color-black, 0.9);
        padding: 1.25rem 2.5rem;
        border-bottom: 0.1rem solid $color-white;
        transform: translateY(-100%);
        transition: transform 0.4s cubic-bezier(0.73, 0.11, 0.67, 0.84);
        &.active {
            transform: translateY(0);
        }
        
        &__link {
            color: $color-white;
            font-size: 1.5rem;
            font-weight: 700;
            margin: 0.625rem 0;
            text-decoration: none;
            transition: 0.4s;
            &:hover {
                color: $color-primary;
                text-decoration: underline;
            }
        }
    }
    
    &__btn-toggle {
        position: relative;
        z-index: 10;
        height: 3.125rem;
        width: 3.125rem;
        border: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        .line {
            position: absolute;
            display: block;
            width: 100%;
            height: 0.1875rem;
            background: $color-white;
            transition: transform 0.3s ease-out, opacity 0.1s ease-out;
        }
        .l1 {
            transform: translateY(-0.625rem);
        }
        .l3 {
            transform: translateY(0.625rem);
        }
    
        &.active .l1 {
            transform: translateY(0) rotate(135deg);
        }
        &.active .l2 {
            opacity: 0;
        }
        &.active .l3 {
            transform: translateY(0) rotate(-135deg);
        }
    }
}

@media  (min-width:900px) {

    .header {
        padding: 0 4rem;
        &__nav {
            position: relative;
            flex-direction: row;
            transform: translateY(0);
            width: fit-content;
            border: none;
            background-color: transparent;
            padding: 0;
            &__link {
                margin-left: 1.2rem;
            }
        }


        &__btn-toggle {
            display: none;
        }
    }
}