.main {
    padding: 1.8rem 1.25rem;
    background: 
    url('../img/spices.jpg') no-repeat left 0 top 1300px,
    url('../img/oranges.jpg') no-repeat right 0 bottom 0;

    .article {
        max-width: 58.75rem;

        &__img-border{
            max-width: 22rem;
            border: $color-primary 1px solid;
            margin: 1rem auto;
        }

        &__body {
            margin: 1rem 0;
        }
    }

    .article__center {
        padding-top:1rem;
        margin: auto;
        text-align: center;
        max-width: 52rem;

        h2::before {
            margin: 0 auto 1rem;
        }
    }

    .mid__nav {
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        margin-top: 2rem;

        a {
            padding: 0.5rem;
            margin: 0 0.5rem;
            border-bottom: transparent 2px solid;
            -webkit-transition: 0.4s;
            -o-transition: 0.4s;
            transition: 0.4s;

            &:hover {
                color: $color-primary;
                border-bottom: $color-primary 2px solid;
            }
        }
    }

    .little__menu {
        margin: 2rem auto;
        text-align: center;
        max-width: 22rem;

        img {
            height: 10rem;
            width: 10rem;
            border: $color-primary 1px solid;
        }
        h4 {
            font-size: 1.125rem;
            padding: 1rem 0 0;
        }
        p {
            font-size: 0.875rem;
            margin: 0;
            padding: 1rem 0 0;
        }
        .price{
            font-size: 2.5rem;
            color: $color-primary;
            font-family: $font-primary;
        }
    }

    .article__end img {
        border: $color-primary 1px solid;
    }
}

@media (min-width:810px) {

    .main {
        background: 
        url('../img/oranges.jpg') no-repeat right 0 top 700px,
        url('../img/spices.jpg') no-repeat left 0 top 150px fixed;

        .article {
            display: flex;
            align-items: center;
            margin:  auto;
            
            &__img-border {
                flex: none;
            }
        }

        .article:nth-child(1){
            margin-top: -4rem;
            
            img {
                transform: translate(2rem, 2rem);
            }
            
            .body{
                margin-left: 5.5rem;
            }
        }

        .article:nth-child(2){
            flex-direction: row-reverse;

            img {
                transform: translate(-2rem, 2rem);
            }
            
            .body{
                margin-right: 5.5rem;
            }
        }

        .article__center {
            padding-top: 5rem;
        }

        .mid__nav{
            margin-bottom: 6.25rem;
        }
        
        .multi__menu{
            position: relative;
            max-width: 75rem;
            margin: auto;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .little__menu {
            max-width: 31.25rem;
            display: flex;
            text-align: left;

            h4, p {
                background-color: white;
            }

            &:nth-child(2n+1) img{
                margin-right: 2rem;
            }

            &:nth-child(2n){
                flex-direction: row-reverse;
                text-align: right;
                img {
                    margin-left: 2rem;
                }
            }
        }

        .polygon {
            position: absolute;
            width: 25rem;
            height: 25rem;
            border: $color-primary 1px solid;
            top: 2.5rem;
            right: 50%;
            transform: translateX(50%) rotate(45deg);
            z-index: -1;
        }

        .article__end {
            padding-top: 3.125rem;
            display: flex;
            flex-direction: row-reverse;

            img {
                border: none;
                margin-bottom: -1.75rem;
            }
        }
    }
}