.article {
    &__border{
        min-width: 17.5rem;
        max-width: 20rem;
        height: 25rem;
        padding: 2rem 0 2rem 2rem;
        border: $color-primary 1px solid;
        margin: auto;
        font-weight: 600;

        ul {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        span {
            color: $color-primary;
            margin-right: 1.6rem;
        }
    }
}

.article__video {
    width: 100%;
    min-height: 12.5rem;
    border: $color-primary 1px solid;
}